body{
    margin: 0;
    padding: 0;
    background-image: url("git-bg-img.jpg");
    font-family: 'Poppins', sans-serif;
}

.bg-white{
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(23, 45, 91);
}

.bg-white-1{
    background-color: #ffff;
    width: 900px;
    height: 100%;
    margin-top: 70px;
    margin-left: 200px;
    padding-top: 20px;
    color: rgb(23, 45, 91);
}

.content{
    padding-left:20px;
}

img{
    width: 95%;
    height: 70%;
}